<div class="col-lg-10 mx-auto mb-3 mt-3" id="post_<%= post.id %>">
  <div class="card shadow">
    <div class="card-header text-center">
      <h5><%= post.title %></h5>
    </div>
    <div class="card-body">
      <%= post.content %>
    </div>
    <div class="card-footer">
      <div class='row'>
        <div class='col-lg-6'>
          <div class="d-flex justify-content-start">
            <span>Created by: <small class='disabled'><%= post.user.email %></small></span>
          </div>
        </div>    
        <% if current_user == post.user %>     
          <div class='col-lg-6'>
            <div class="d-flex justify-content-end">
              <%= link_to edit_post_path(post), data: {controller:"bs-modal-form"} do %>
                <i class="bi bi-pencil-fill"></i>
              <% end %>
              <%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this experience? This action can not be undo.'} do %>
                <i class="bi bi-trash text-danger ms-2"></i>
              <% end %>
            </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</div>