<!DOCTYPE html>
<html>
  <head>
    <title>TurboHotwire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid">
      <div class='row'>
        <div class="col-lg-8 mx-auto">
          <div class="card">
            <div class="card-header">
              <%= render 'shared/header' %>
            </div>
            <div class="card-body">
              <%= yield %>
              <%= turbo_frame_tag 'remote_modal' %>
              <%= render 'shared/footer' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
